<html>
<head>
  <title>Lunch Status</title>
  <script type="text/javascript" src="/jquery.js"></script>
  <style type="text/css" media="screen">
    h1 { font-size: 1em; letter-spacing: 0.1em;}
    body { font-family: 'courier new', sans-serif; font-size: 85%; }
    #box { z-index: -10; font-family: 'courier new'; }
    #ui { z-index: 1; }
    #ui p { margin: 0; }
    #box, #ui { float: left; position: relative; }
    #ui { left: -11.5em; top:6.40em; }
    dl, dt, dd { margin: 0;}
  </style>
</head>
<body>
  <p>o hai 2 u purrfek strainjur! Dis iz lunchstatus.com at ur servish.</p>
  <p>Wi can has frenzdship!</p>
  <p>o plz let mi no ur <input type="textfield" id="username" maxlength="30" size="10" value="name"/> and ur  <input type="textfield" id="organization" maxlength="30" size="10" value="allegiance"/>.</p>
  <a href="#">something</a>
</body>
<script type="text/javascript" charset="utf-8">
 $(document).ready(function() {
   $("#username").focus(function() {
     if ($(this).val() == "name")
       $(this).val("");
   });
   $("#username").blur(function() {
     if ($(this).val() == "")
       $(this).val("name");
   })
   $("#organization").focus(function() {
     if ($(this).val() == "allegiance")
       $(this).val("");
   });
   $("#organization").blur(function() {
     if ($(this).val() == "")
       $(this).val("allegiance");
   });
 }); 

</script>
</html>