<html>
<head>
  <style type="text/css" media="screen">
    body { font-family: 'courier new', sans-serif; font-size: 85%; }
    #box { z-index: -10; font-family: 'courier new'; }
    #ui { z-index: 1; }
    #ui p { margin: 0; }
    #box, #ui { float: left; position: relative; }
    #ui { left: -11.5em; top:6.40em; }
  </style>
</head>
<body>
  <h1><%= @team_name %></h1>
  <pre id="box">
     /-----------------\
    |  lunchstatus.com  |
    |+-----------------+|
    | u has lonche?!?1? |
    |                   |
    |                   |
    |                   |
    |                   |
     \-----------------/
  </pre>
  <div id="ui">
    <p>[ ] o corse</p>
    <p>[ ] do no has</p>
  </div>
</body>
</html>